<h1>Listing bookings</h1>

<table>
  <tr>
    <th>Booking Id</th>
    <th>Nights</th>
    <th>Rooms</th>
    <th>Date</th>
    <th>Room type</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.booking_id %></td>
    <td><%= booking.nights %></td>
    <td><%= booking.rooms %></td>
    <td><%= booking.booking_date %></td>
    <td><%= booking.room_type %></td>
    <td><%= booking.price %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_booking_path %>
